#input{width:60%;height:99%;}
#output{width:30%;height:99%;}
.centerPart{
	display:inline-block;
	width:9%;
	height:99%;
	position:relative;
	}
.centerPart div{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-40px;
	margin-left:-25px;
}
.centerPart div button {
	width:50px;
	height:30px;
	margin-bottom:20px;
}
